<a href="https://colab.research.google.com/github/kettesakchhorn/test/blob/master/Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sklearn
import numpy as np
import pandas as pd

In [ ]:
dataset = pd.read_csv("https://raw.githubusercontent.com/datasets/world-religion-projections/master/rounded_percentage.csv")
dataset.head(5)

,Year,Region,Country,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated
0,2010,World,All Countries,7.1,31.4,5.9,15.0,1.0,23.2,1.0,16.4
1,2010,North America,All Countries,1.1,77.4,1.0,1.0,1.8,1.0,1.0,17.1
2,2010,Latin America-Caribbean,All Countries,1.0,90.0,1.7,1.0,1.0,1.0,1.0,7.7
3,2010,Europe,All Countries,1.0,74.5,1.0,1.0,1.0,5.9,1.0,18.8
4,2010,Middle East-North Africa,All Countries,1.0,3.7,1.0,1.0,1.6,93.0,1.0,1.0

In [ ]:
dataset.shape

(1205, 11)

In [ ]:
dataset.describe()

,Year,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated
count,1205.000000,1205.000000,1205.000000,1205.000000,1205.000000,1205.000000,1205.000000,1205.000000,1205.000000
mean,2030.000000,4.108382,59.671286,3.186473,2.835104,1.312365,23.192863,1.273527,8.616763
std,14.148007,13.169095,37.111985,7.233636,8.557906,4.604011,35.478585,1.463965,12.976296
min,2010.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2020.000000,1.000000,13.700000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,2030.000000,1.000000,76.600000,1.000000,1.000000,1.000000,2.300000,1.000000,3.000000
75%,2040.000000,1.000000,91.800000,1.700000,1.000000,1.000000,26.500000,1.000000,10.400000
max,2050.000000,96.900000,99.000000,58.900000,80.700000,75.600000,99.000000,16.200000,79.600000

In [ ]:
numerical_variable = dataset.columns[dataset.dtypes !=  'object']
dataset[numerical_variable].head(5)

,Year,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated
0,2010,7.1,31.4,5.9,15.0,1.0,23.2,1.0,16.4
1,2010,1.1,77.4,1.0,1.0,1.8,1.0,1.0,17.1
2,2010,1.0,90.0,1.7,1.0,1.0,1.0,1.0,7.7
3,2010,1.0,74.5,1.0,1.0,1.0,5.9,1.0,18.8
4,2010,1.0,3.7,1.0,1.0,1.6,93.0,1.0,1.0

In [ ]:
categorical_variable = dataset.columns[dataset.dtypes ==  'object']
dataset[categorical_variable].head(5)

                     Region         Country
0                     World   All Countries
1             North America   All Countries
2   Latin America-Caribbean   All Countries
3                    Europe   All Countries
4  Middle East-North Africa   All Countries

,Year,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated
0,2010,7.1,31.4,5.9,15.0,1.0,23.2,1.0,16.4
1,2010,1.1,77.4,1.0,1.0,1.8,1.0,1.0,17.1
2,2010,1.0,90.0,1.7,1.0,1.0,1.0,1.0,7.7
3,2010,1.0,74.5,1.0,1.0,1.0,5.9,1.0,18.8
4,2010,1.0,3.7,1.0,1.0,1.6,93.0,1.0,1.0

In [ ]:
dataset.isnull().head(5)

,Year,Region,Country,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
len(dataset)

1205

In [ ]:
dataset[numerical_variable].isnull().sum()/len(dataset)

Year               0.0
Buddhists          0.0
Christians         0.0
Folk Religions     0.0
Hindus             0.0
Jews               0.0
Muslims            0.0
Other Religions    0.0
Unaffiliated       0.0
dtype: float64

In [ ]:
dataset.fillna('Year')

,Year,Region,Country,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated
0,2010,World,All Countries,7.1,31.4,5.9,15.0,1.0,23.2,1.0,16.4
1,2010,North America,All Countries,1.1,77.4,1.0,1.0,1.8,1.0,1.0,17.1
2,2010,Latin America-Caribbean,All Countries,1.0,90.0,1.7,1.0,1.0,1.0,1.0,7.7
3,2010,Europe,All Countries,1.0,74.5,1.0,1.0,1.0,5.9,1.0,18.8
4,2010,Middle East-North Africa,All Countries,1.0,3.7,1.0,1.0,1.6,93.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1200,2050,Sub-Saharan Africa,Zimbabwe,1.0,86.1,4.9,1.0,1.0,1.1,1.0,7.6
1201,2050,Sub-Saharan Africa,South Sudan,1.0,60.5,32.9,1.0,1.0,6.2,1.0,1.0
1202,2050,Latin America-Caribbean,Curacao,1.0,93.9,1.2,1.0,1.0,1.0,1.0,3.3
1203,2050,Latin America-Caribbean,Sint Maarten,1.0,93.9,1.2,1.0,1.0,1.0,1.0,3.3
1204,2050,Latin America-Caribbean,Caribbean Netherlands,1.0,93.9,1.2,1.0,1.0,1.0,1.0,3.3

In [ ]:
dataset['Buddhists'].replace(1.0,'one').head(15)

0      7.1
1      1.1
2      one
3      one
4      one
5      one
6     11.9
7      one
8      one
9      one
10     one
11     one
12     one
13     one
14     one
Name: Buddhists, dtype: object

In [ ]:
dataset.iloc[1:6]

,Year,Region,Country,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated
1,2010,North America,All Countries,1.1,77.4,1.0,1.0,1.8,1.0,1.0,17.1
2,2010,Latin America-Caribbean,All Countries,1.0,90.0,1.7,1.0,1.0,1.0,1.0,7.7
3,2010,Europe,All Countries,1.0,74.5,1.0,1.0,1.0,5.9,1.0,18.8
4,2010,Middle East-North Africa,All Countries,1.0,3.7,1.0,1.0,1.6,93.0,1.0,1.0
5,2010,Sub-Saharan Africa,All Countries,1.0,62.9,3.3,1.0,1.0,30.2,1.0,3.2

In [ ]:
dataset = dataset.set_index(dataset['Country'])
dataset.loc['Cambodia']

,Year,Region,Country,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated
Country,,,,,,,,,,,
Cambodia,2010,Asia-Pacific,Cambodia,96.9,1.0,1.0,1.0,1.0,2.0,1.0,1.0
Cambodia,2020,Asia-Pacific,Cambodia,96.8,1.0,1.0,1.0,1.0,2.0,1.0,1.0
Cambodia,2030,Asia-Pacific,Cambodia,96.8,1.0,1.0,1.0,1.0,2.0,1.0,1.0
Cambodia,2040,Asia-Pacific,Cambodia,96.7,1.0,1.0,1.0,1.0,2.0,1.0,1.0
Cambodia,2050,Asia-Pacific,Cambodia,96.7,1.0,1.0,1.0,1.0,2.1,1.0,1.0

In [ ]:
dataset.rename(columns={'Unaffiliated' : 'Athiest'}).head(5)

,Year,Region,Country,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Athiest
Country,,,,,,,,,,,
All Countries,2010,World,All Countries,7.1,31.4,5.9,15.0,1.0,23.2,1.0,16.4
All Countries,2010,North America,All Countries,1.1,77.4,1.0,1.0,1.8,1.0,1.0,17.1
All Countries,2010,Latin America-Caribbean,All Countries,1.0,90.0,1.7,1.0,1.0,1.0,1.0,7.7
All Countries,2010,Europe,All Countries,1.0,74.5,1.0,1.0,1.0,5.9,1.0,18.8
All Countries,2010,Middle East-North Africa,All Countries,1.0,3.7,1.0,1.0,1.6,93.0,1.0,1.0

In [ ]:
print('Sum:', dataset['Jews'].max())
dataset

Sum: 75.6

,Year,Region,Country,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated
Country,,,,,,,,,,,
All Countries,2010,World,All Countries,7.1,31.4,5.9,15.0,1.0,23.2,1.0,16.4
All Countries,2010,North America,All Countries,1.1,77.4,1.0,1.0,1.8,1.0,1.0,17.1
All Countries,2010,Latin America-Caribbean,All Countries,1.0,90.0,1.7,1.0,1.0,1.0,1.0,7.7
All Countries,2010,Europe,All Countries,1.0,74.5,1.0,1.0,1.0,5.9,1.0,18.8
All Countries,2010,Middle East-North Africa,All Countries,1.0,3.7,1.0,1.0,1.6,93.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,2050,Sub-Saharan Africa,Zimbabwe,1.0,86.1,4.9,1.0,1.0,1.1,1.0,7.6
South Sudan,2050,Sub-Saharan Africa,South Sudan,1.0,60.5,32.9,1.0,1.0,6.2,1.0,1.0
Curacao,2050,Latin America-Caribbean,Curacao,1.0,93.9,1.2,1.0,1.0,1.0,1.0,3.3
Sint Maarten,2050,Latin America-Caribbean,Sint Maarten,1.0,93.9,1.2,1.0,1.0,1.0,1.0,3.3
Caribbean Netherlands,2050,Latin America-Caribbean,Caribbean Netherlands,1.0,93.9,1.2,1.0,1.0,1.0,1.0,3.3

In [ ]:
dataset.drop(dataset.columns[1], axis=1)

,Year,Country,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated
Country,,,,,,,,,,
All Countries,2010,All Countries,7.1,31.4,5.9,15.0,1.0,23.2,1.0,16.4
All Countries,2010,All Countries,1.1,77.4,1.0,1.0,1.8,1.0,1.0,17.1
All Countries,2010,All Countries,1.0,90.0,1.7,1.0,1.0,1.0,1.0,7.7
All Countries,2010,All Countries,1.0,74.5,1.0,1.0,1.0,5.9,1.0,18.8
All Countries,2010,All Countries,1.0,3.7,1.0,1.0,1.6,93.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,2050,Zimbabwe,1.0,86.1,4.9,1.0,1.0,1.1,1.0,7.6
South Sudan,2050,South Sudan,1.0,60.5,32.9,1.0,1.0,6.2,1.0,1.0
Curacao,2050,Curacao,1.0,93.9,1.2,1.0,1.0,1.0,1.0,3.3
Sint Maarten,2050,Sint Maarten,1.0,93.9,1.2,1.0,1.0,1.0,1.0,3.3
Caribbean Netherlands,2050,Caribbean Netherlands,1.0,93.9,1.2,1.0,1.0,1.0,1.0,3.3

In [ ]:
dataset.drop([], axis =0)

,Year,Region,Country,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated
Country,,,,,,,,,,,
All Countries,2010,World,All Countries,7.1,31.4,5.9,15.0,1.0,23.2,1.0,16.4
All Countries,2010,North America,All Countries,1.1,77.4,1.0,1.0,1.8,1.0,1.0,17.1
All Countries,2010,Latin America-Caribbean,All Countries,1.0,90.0,1.7,1.0,1.0,1.0,1.0,7.7
All Countries,2010,Europe,All Countries,1.0,74.5,1.0,1.0,1.0,5.9,1.0,18.8
All Countries,2010,Middle East-North Africa,All Countries,1.0,3.7,1.0,1.0,1.6,93.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,2050,Sub-Saharan Africa,Zimbabwe,1.0,86.1,4.9,1.0,1.0,1.1,1.0,7.6
South Sudan,2050,Sub-Saharan Africa,South Sudan,1.0,60.5,32.9,1.0,1.0,6.2,1.0,1.0
Curacao,2050,Latin America-Caribbean,Curacao,1.0,93.9,1.2,1.0,1.0,1.0,1.0,3.3
Sint Maarten,2050,Latin America-Caribbean,Sint Maarten,1.0,93.9,1.2,1.0,1.0,1.0,1.0,3.3
Caribbean Netherlands,2050,Latin America-Caribbean,Caribbean Netherlands,1.0,93.9,1.2,1.0,1.0,1.0,1.0,3.3

In [ ]:
dataset['Country'].unique()

array([' All Countries', 'Afghanistan', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Anguilla',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia-Herzegovina', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada',
       'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Republic of the Congo', 'Democratic Republic of the Congo',
       'Cook Islands', 'Costa Rica', 'Ivory Coast', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Faeroe Islands', 'Falkland Islands (Malvinas)', 'Fiji', 'Finland',
       'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Vatican City', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macau', 'Republic of Macedonia', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Federated States of Micronesia', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Burma (Myanmar)', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North Korea', 'Northern Mariana Islands', 'Norway',
       'Oman', 'Pakistan', 'Palau', 'Palestinian territories', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'St. Helena', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Pierre and Miquelon', 'St. Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste',
       'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'U.S. Virgin Islands', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe', 'South Sudan',
       'Curacao', 'Sint Maarten', 'Caribbean Netherlands'], dtype=object)